footer {
  padding: 25px;
  font-family: $fontregular;
  font-size: 1rem;
  background-color: $grey;
  color: white;
  img {
    margin-bottom: 16px;
    width: 139px;
    height: 27px;
  }
  nav {
    ul {
      li {
        list-style: none;
        line-height: 26px;
        .fa-solid {
          margin-right: 12px;
          height: 13px;
        }
      }
    }
  }
}