main {
  margin: 0 auto;
  h2 {
    @include title;
    @media screen and (min-width:768px) {
      padding-top: 55px;
    }
  }

  .fonctionnement {
    margin: 0 auto;
    max-width: 1080px;
    div {
      z-index: -1;
      @media screen and (min-width:768px) {
        display: flex;
        justify-content: space-between;
      }
      .steps {
        position: relative;
        padding-left: 30px;
        padding-right: 20px;

        @media screen and (min-width:768px) {
          padding-left: 12px;
          padding-right: 0px;
        }
      }
      p{
        display: flex;
        align-items: center;
        padding: 25px 35px;
        margin-bottom: 25px;
        background-color: $colorbackground;
        border-radius: 20px;
        font-family: "Roboto";
        font-weight: 500;
        font-size: 1rem;
        color: black;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.212);

        @media screen and (min-width:768px) {
          padding: 25px 30px 25px 0px;
          margin-bottom: 55px;
          font-size: 0.8rem;
        }

        @media screen and (min-width:948px) {
          padding: 25px 60px 25px 0px;
          font-size: 1rem;
        }
      }
      em {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 1px;
        font-size: 14px;
        background-color: $colorprim;
        color: white;
        height: 24px;
        width: 24px;
        border-radius: 50%;
        top: 35%;
        left: 20px;

        @media screen and (min-width:768px) {
          top: 18%;
          left: 0px;
        }
      }
      .fa-solid {
        padding-right: 20px;
        font-size: 1.188rem;
        color: $grey3;

        @media screen and (min-width:768px) {
          padding: 0px 22px 0px 34px;
        }

        &.fa-store {
          color: $colorprim;
        }
      }
    }
  }

  .restaurants {
    background-color: $colorbackground;
    padding: 0px 17px 70px 17px;
    @media screen and (min-width:768px) {
      padding-bottom: 30px;
    }
    h2 {
      max-width: 1080px;
      margin: 0 auto;
      @media screen and (min-width:768px) {
        padding-top: 30px;
      }
    }
    .group-card {
      @media screen and (min-width:768px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 10%;
        row-gap: 50px;
        max-width: 1080px;
        margin: 0 auto;
      }
      .card {
        height: 251px;
        background-color: white;
        border-radius: 15px;
        margin-bottom: 18px;
        position: relative;
        .card-img {
          position: relative;
          img {
            width: 100%;
            height: 171px;
            object-fit: cover;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
          }
          p {
            position: absolute;
            background-color: $green;
            color: $greenfont;
            font-family: "Roboto";
            font-weight: 500;
            font-size: 0.875rem;
            padding: 7px 12px;
            border-radius: 3px;
            top: 5%;
            right: 3%;
          }
        }
        .card-txt {
          padding: 15px 25px 15px 20px;
          h3 {
            font-family: "Roboto";
            font-weight: 700;
            font-size: 1.125rem;
            margin-bottom: 5px;
          }
          p {
            font-size: 1.063rem;
            font-family: "Roboto";
            font-weight: 300;
          }
        }

        .card-heart {
          position: absolute;
          right: 25px;
          bottom: 25px;
        }
      }
    }
  }
}