main {
  .main-restaurant {
      position: relative;
      background-color: $colorbackground;
      z-index: 1;
      margin-top: 220px;
      padding: 30px 13px 40px 13px;
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;

      @media screen and (min-width:768px){
        max-width: 1055px;
        margin: 328px auto 0px auto;
      }

      .title {
        display: flex;
        justify-content: space-between;
        font-family: "Shrikhand";
        font-weight: 400;

        @media screen and (min-width:768px){
          justify-content: center;
        }

        h1 {
          font-size: 28px;
          letter-spacing: 2px;

          @media screen and (min-width:768px){
            padding-right: 22px;
          }

          em {
            color: $green;
          }
        }
      }
      .menu {
        @media screen and (min-width:768px) {
          max-width: 634px;
          margin: 0 auto;
        }

        h2 {
          font-weight: 300;
          font-size: 1rem;
          padding-bottom: 0px;
        }
        .underline {
          height: 3px;
          width: 40px;
          margin-top: 6px;
          background-color: $green;
        }

        .card-restaurant {
          height: 69px;
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.137);
          margin-top: 12px;
          border-radius: 15px;
          display: flex;
          justify-content: center;
          overflow: hidden;
            .card-content {
              font-family: "Roboto";
              font-weight: 500;
              font-size: 0.95rem;
              background-color: #FFFFFF;
              padding: 15px;
              cursor: pointer;
              width: 100%;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              color: black;
              h3 {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
              div {
                display: flex;
                justify-content: space-between;
                font-size: 0.938rem;
                p {
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  font-family: "Roboto";
                  font-weight: 300;
                }
                em {
                  font-weight: 600;
                  font-style: normal;
                }
              }
          }
          .card-check {
            background-color: $green;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: -60px;
            width: 59px;
            height: 69px;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            transition: all 0.5s ease-in-out;
            .fa-solid {  
              font-size: 1.2rem;
              color: white;
            }
          }

          &:hover {
            .card-check {
              margin-right: 0;
            }
          }
        }
        .starters {
          animation: animation-menu 1s ease-in-out forwards;
          animation-delay: 0s;
        }
        .dishes {
          opacity: 0;
          animation: animation-menu 1s ease-in-out forwards;
          animation-delay: 0.5s;
        }
        .desserts {
          opacity: 0;
          animation: animation-menu 1s ease-in-out forwards;
          animation-delay: 1s;
        }
      }
      button {
        display: flex;
        justify-content: center;
        width: 186px;
        margin-top: 40px;
        margin-right: auto;
        margin-left: auto;

        @media screen and (min-width:768px){
          margin-bottom: 0px;
        }
      }
    }
  }